*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mb {
  margin-bottom: 2rem;
}
.linkDash{
  text-decoration: none;
  color: black;
}

.images {
  border: 15px solid white;
  margin-left: 2.5vw;
  box-shadow: 0px 4px 31px #0000000a;
  border-radius: 300px;
}
.newuser {
  padding: 30px;
}
.login {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 23px;
}
.forgotpassword {
  padding-top: 12px;
}
.backgroundcolor {
  background-color: #fafafa;
}
.textcolor {
  color: #3e3e3e;
}
.lightcolor {
  color: #adadad;
}
.container {
  width: 620px;
  min-width: 60%-100%;
}

.h15{
  height: 15px; width: 15px;
}
.height{
  height: 100%;
}

.text-diff{
  color: #3E3E3E;
}


/* ! Dashboard */

.circle1{
  border-radius: 50%;
  background-color:  #C8242F;
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
}

.circle2{
  border-radius: 50%;
  background-color: #A2B86C;
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
}

.circle3{
  border-radius: 50%;
  background-color: #F16C20;
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
}

.circle4{
  border-radius: 50%;
  background-color: #EBC844;
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
}
th{
  color: #949494;
}
.sidebar-icon img{
  width: 35px;
}

.graph-image{
  width: 50vw;
}

@media screen and (max-width: 355px){
  .profile-name{ display: none; }
}
.success1{
  font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3CDD5F;
padding: 10px;
  background: #EBFFEF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
}
.danger1{
  background: #FFF5F5 0% 0% no-repeat padding-box;
border-radius: 5px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #FF4545;
padding: 10px;
text-align: center;
}
.pending1{
  font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #BABABA;
background: #F8F8F8 0% 0% no-repeat padding-box;
border-radius: 5px;
padding: 10px;
text-align: center;
}


.checked{
  background-color: red;
  color: red;
}
.icon{
  width:25px
}

.snackbar-error{
  border: 1px solid #FF3535;
}
.snackbar-warning{
  border: 1px solid #FFA800;
}

.snackbar-info{
  border: 1px solid #00B9E1;
}

.snackbar-success{
  border: 1px solid #00AF27;
}

.form-check-input:checked{
  background-color: red;
  border-color: red;
}

input[type='checkbox']{
  background-image: url("../images/check-icon.svg");  
}

.border-r{
  border-radius: 6px;
}